.template-Membership-detail{
padding: auto;
height: 100%;
}

.btn-block{
    width: 100%;
}
.info-member{
    max-height: 90%;
}
th{
    width: 50%;
}
.seach{
  
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    padding: 10px;

}
.seach > input{
    display: block;
    padding: 10px;
    
}
.seach > button{
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    background-color: blue;
    color: white;
}