
.table{
    width: 100%;
    margin-top: 10%;
}
.filter-template{
    padding: 10px;
    margin-top:5% ;
}
.dateStart,.dateEnd{
    display: flex;
    justify-content: start;
    padding: 5px;
    margin: 10px;

}
.dateStart>p,.dateEnd>p{
 font-size: large;
 margin-right: 5px;
}
